<ion-header class="cstm-ion-header ">
	<div class="wrapper-logo-nav-cstm ion-padding">
		<img src="../../assets/img/pagelogo.png" class="logo-login-cstm">
	</div>

	<h3 slot="secondary" class="ion-padding">Account Verification</h3>

	<ion-card>
		<ion-card-header color="success">
			<ion-card-subtitle>Your account has been verified</ion-card-subtitle>
		</ion-card-header>
	</ion-card>
</ion-header>

<ion-content fullscreen class="page-bg-cstm" padding>
	<div class="input-wrapper-cstm">
		<ion-input placeholder="Enter Password" type="password" clearInput></ion-input>
	</div>
	<div class="input-wrapper-cstm">
		<ion-input placeholder="Repeat Password" type="password" clearInput></ion-input>
	</div>
</ion-content>

<ion-footer padding>
	<div class="">
		<ion-button color="primary" mode="ios" expand="block" href="/login">Login</ion-button>
	</div>
</ion-footer>
