<ion-header class="cstm-ion-header ion-padding">
  <div class="wrapper-logo-nav-cstm">
    <img src="../../assets/img/pagelogo.png" class="logo-login-cstm">
  </div>

  <div class="header-top-nav-cstm">
    <ion-toolbar>
     



      <ion-buttons slot="secondary">
        <ion-button color="primary" fill="clear" (click)="navControl.back()"><ion-icon name="arrow-back"></ion-icon> Back</ion-button>
      </ion-buttons>
    </ion-toolbar>

  </div>


</ion-header>
<ion-content class="ion-padding page-bg-cstm">

  <ion-card *ngIf="!ride || ride.loading">
    <ion-spinner></ion-spinner> Loading...
  </ion-card>

  <ion-card *ngIf="ride && !ride.loading">
    <ion-card-content class="card-content-cstm">

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <div class="search-ride-card-cstm">
              <ion-img src="../assets/img/ride.svg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="9">
            <ion-card-title>{{ ride.driver.first_name }} {{ ride.driver.last_name }}</ion-card-title>
            <ion-card-subtitle>{{ ride.car?.brand }} {{ ride.car?.model }}</ion-card-subtitle>
          </ion-col>


        </ion-row>

      </ion-grid>

      <ion-grid>
        <ion-row [ngSwitch]="ride.getMyBooking().status">
          <ion-col *ngSwitchCase="'accepted'">
            <ion-icon name="checkmark-circle" size="large" color="success"></ion-icon>
            <ion-card-subtitle class="align-center">Passenger</ion-card-subtitle>
          </ion-col>
          <ion-col *ngSwitchCase="'request'">
            <ion-icon name="time" size="large" color="warning"></ion-icon>
            <ion-card-subtitle class="align-center">Pending confirmation by driver</ion-card-subtitle>
          </ion-col>
          <ion-col *ngSwitchCase="'rejected'">
            <ion-icon name="close-circle" size="large" color="danger"></ion-icon>
            <ion-card-subtitle class="align-center">Rejected</ion-card-subtitle>
          </ion-col>
          <ion-col *ngSwitchCase="'canceled'">
            <ion-icon name="close-circle" size="large" color="danger"></ion-icon>
            <ion-card-subtitle class="align-center">Canceled</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-icon name="calendar" size="large"></ion-icon>
            <ion-card-subtitle class="align-center"> {{ ride.data.date | date: 'longDate' }}</ion-card-subtitle>
          </ion-col>
          <ion-col size="6">
            <ion-icon name="time" size="large"></ion-icon>
            <ion-card-subtitle class="align-center"> {{ride.data.start_time | date:'h:mm' }} - {{ride.data.end_time | date:'h:mm' }}</ion-card-subtitle>
          </ion-col>


        </ion-row>

      </ion-grid>



      <ion-grid>
        <ion-row>
          <ion-col size="6">

            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <div class="search-ride-card-content-cstm">

                    <ion-img src="../assets/img/baby.svg"></ion-img>
                  </div>

                </ion-col>
                <ion-col size="10">
                 <ion-icon [hidden]="ride.car?.childseat" name="close-circle" color="danger" size="large"> </ion-icon>
                 <ion-icon [hidden]="!ride.car?.childseat" name="checkmark-circle" color="success" size="large"></ion-icon>
                  <p>Child Seat</p>
                </ion-col>


              </ion-row>
            </ion-grid>


          </ion-col>
          <ion-col size="6">

            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <div class="search-ride-card-content-cstm">

                    <ion-img src="../assets/img/handi.svg"></ion-img>
                  </div>

                </ion-col>
                <ion-col size="10">
                   <ion-icon [hidden]="ride.car?.wheelchair" name="close-circle" color="danger" size="large"> </ion-icon>
                   <ion-icon [hidden]="!ride.car?.wheelchair" name="checkmark-circle" color="success" size="large"></ion-icon>

                  <p>Wheel Chair</p>
                </ion-col>


              </ion-row>
            </ion-grid>



          </ion-col>
          <ion-col size="12">

            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="search-ride-card-content-cstm">

                    <ion-img src="../assets/img/seat.svg"></ion-img>
                  </div>

                </ion-col>
                <ion-col size="8">
                  {{ride.availableSeats}} / {{ ride.data.available_seats }} Seats Available
                </ion-col>


              </ion-row>
            </ion-grid>


          </ion-col>

        </ion-row>
      </ion-grid>


      <ion-grid>
        <p class="align-justify">Note</p>
        <p class="align-justify">{{ride.data.note}}</p>
      </ion-grid>

      



    </ion-card-content>
  </ion-card>

  <h1 *ngIf="ride.getAcceptedBookings().length">Passengers</h1>
  <ion-card *ngFor="let booking of ride.getAcceptedBookings()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <div>
              <ion-img src="../assets/img/blank-profile.png"></ion-img>
            </div>
          </ion-col>
          <ion-col size="9">
            <ion-card-title>{{booking.passenger.first_name}} {{booking.passenger.last_name}}</ion-card-title>
            <ion-card-subtitle>Passenger</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            From<br>{{booking.startStop.name}}
          </ion-col>
          <ion-col>
            To<br>{{booking.endStop.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




</ion-content>

<ion-footer [ngSwitch]="ride.getMyBooking().status" *ngIf="ride.getMyBooking().status !== 'rejected'">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col *ngSwitchCase="'accepted'">
            <ion-button color="success" expand="block" size="medium" (click) ="openChat()">Chat</ion-button>
          </ion-col>
          
          <ion-col *ngSwitchCase="'canceled'">
            <ion-button color="success" expand="block" size="medium" (click) ="resetBooking()">Book again</ion-button>
          </ion-col>

          <ion-col *ngIf="ride.getMyBooking().status !== 'canceled'">
            <ion-button  id="cancel" color="danger" expand="block"  size="medium" (click)="cancelBooking()">Cancel</ion-button>
          </ion-col>
        
        </ion-row>
        </ion-grid> 
        
        
        
    </ion-toolbar>
  </ion-footer>