<ion-content class="page-bg-cstm" padding>
	<div class="wrapper-logo-cre-cstm">
		<img src="../../assets/img/pagelogo.png" class="logo-login-cstm">
	</div>

	<h3 class="credentials-title-cstm">Account Verification</h3>

	<div class="alert-cstm">
		<ion-item color="success" lines="none" expandable>
			<ion-label class="ion-text-wrap">
				Your account has been verified by our system
			</ion-label>
			<ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
		</ion-item>
	</div>

	<div class="input-wrapper-cstm">
		<ion-input placeholder="Enter Password" clearInput type="password"></ion-input>
	</div>
	<div class="input-wrapper-cstm">
		<ion-input placeholder="Repeat Password" type="password" clearInput></ion-input>
	</div>
</ion-content>

<ion-footer padding>
	<div class="wrapper-footer-actions-cstm">
		<ion-button color="primary" mode="ios" expand="block" href="/login">Login</ion-button>
	</div>
</ion-footer>
