<ion-content fullscreen class="page-bg-cstm" padding>
	<div class="wrapper-logo-cre-cstm">
		<img src="../../assets/img/pagelogo.png" class="logo-login-cstm" />
	</div>

	<h3 class="credentials-title-cstm">Reset Password</h3>

	<form #form="ngForm" (ngSubmit)="forgot_password()" novalidate>
		<div class="input-wrapper-cstm">
			<ion-input
				name="email"
				type="email"
				inputmode="email"
				id="id_email"
				pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(stud.uni-saarland|uni-saarland|mpi-inf.mpg)\.de$"
				[(ngModel)]="email"
				#name="ngModel"
				placeholder="Enter Email"
				clearInput
				required
			></ion-input>
		</div>
	</form>
	<div class="">
		<div class="already-account-cstm">
			<a href="/login">Already have an Account?</a>
		</div>
		<ion-button
			color="primary"
			mode="ios"
			expand="block"
			id="id_btn"
			[disabled]="!form.valid"
			type="submit"
			(click)="forgot_password()"
		>Reset Password</ion-button>
	</div>
</ion-content>
